.signuptop{
    background-color: #dadbd3;
    background-image: url("./assets/login1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    height: 100vh;
  }