.signInpage{
  background-color: #dadbd3;
  background-image: url("../assets/login1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
}

.signInpage__body{
  display: flex;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}